* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Verdana", "Helvetica", "Arial", sans-serif;
  background-color: rgb(224, 224, 255);;
}

h1{
  display: flex;
  justify-content: center;
  margin: 0.5em;
  font-size: 3.5rem;
  font-weight: bolder;
  color: rgb(0, 0, 117);
}

form{
  display: flex;
  justify-content: center;
  gap: 1em;
}

#locationField{
  font-size: 2em;
  background-color: rgb(177, 177, 255);
  border: none;
  padding: 0.25em;
  border-radius: 0.25em;
}

#searchButton{
  font-size: 2em;
  padding: 0.25em;
  border-radius: 0.25em;
  border: none;
  background-color: rgb(0, 190, 0);
}

#searchButton:hover{
  background-color: rgb(0, 150, 0);
  font-weight: bold;
}

#searchButton:active{
  background-color: rgb(0, 220, 0);
  font-weight: bold;
}

#dataDisplay[visible="false"]{
  content-visibility: hidden;
  border: none;
}

#dataDisplay{
  margin: 1em;
  border-radius: 0.5em;
  border: 0.3em black solid;
}

#miscInfo{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.5em;
}

#left > p{
  margin: 0.5em;
}

#right > p{
  margin: 0.3em;
}

#dataDisplay h2{
  display: flex;
  justify-self: center;
  font-size: 2.5rem;
}

#errorText{
  content-visibility: hidden;
}

#errorText[visible="true"]{
  content-visibility: visible;
  display: flex;
  justify-self: center;
  align-self: center;
  font-size: 3rem;
  margin: 0.5em;
  font-weight: bold;
}